[options]
admin_passwd = ${ADMIN_PASSWD}
addons_path = ${ADDONS_PATH}
data_dir = ${DATA_DIR}

db_host = ${DB_HOST}
db_port = ${DB_PORT}
db_user = ${DB_USER}
db_password = ${DB_PASSWORD}
db_name = ${DB_NAME}
db_maxconn = ${DB_MAXCONN}
dbfilter = ${DBFILTER}
list_db = ${LIST_DB}

http_port = ${HTTP_PORT}
gevent_port = ${GEVENT_PORT}
proxy_mode = ${PROXY_MODE}
workers = ${WORKERS}
max_cron_threads = ${MAX_CRON_THREADS}

limit_memory_soft = ${LIMIT_MEMORY_SOFT}
limit_memory_hard = ${LIMIT_MEMORY_HARD}
limit_request = ${LIMIT_REQUEST}
limit_time_cpu = ${LIMIT_TIME_CPU}
limit_time_real = ${LIMIT_TIME_REAL}
limit_time_real_cron = ${LIMIT_TIME_REAL_CRON}

log_level = ${LOG_LEVEL}
